::ng-deep .custom-green {
    color: green;
}

button.button-bens-blue:hover {
    color: var(--bens-blue);
}

button.button-bens-red:hover {
    color: var(--bens-red);
}

.product-input-filter-container {
    display: flex;
    justify-content: center;
}

.product-input-filter {
    width: 100%;
}